body {
    height: 100%;
    margin: 0;
}

ul{
    list-style :  none ;
list-style-type:none;
padding: 0;
margin:0;
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
h1, h3 {
    align-items: center;
    justify-content: center;
    display: flex;
}